<settings>
<servers>
	<server>
		<user>username</user>
		<password>password</password>
		<host>host</host>
		<port>8080</port>
		<version>2.0</version>
	</server>

	<server>
		<user>username</user>
		<password>password</password>
		<host>host</host>
		<port>8000</port>
		<version>2.0</version>
	</server>
	

</servers>
<!-- namespace pid and version information is extracted dynamically from the Fedora Repository at the time of connection -->
<uploadDir>./library/uploads/</uploadDir>
<uploadNum>10</uploadNum>
<uploadSize>100048576</uploadSize>
<uploadFileType>
<file>txt</file>
<file>xml</file>
<file>pdf</file>
<file>doc</file>
<file>gif</file>
<file>jpg</file>
<file>j2k</file>
<file>bmp</file>
</uploadFileType>

</settings>