/* HTML Elements */
body
{
	margin: 0;
	padding: 0;
	text-align: center;
}

a
{
	text-decoration:none;
}

a:hover, a:hover *
{
	background: transparent;
	text-decoration: underline;
}

h1, h2, h3, h4, h5
{
	margin-bottom: 2px;
}

h1
{
}

h2
{
}

h3, h4, h5, h6
{
	text-transform: uppercase;
}

h1
{
	font-size: 218%;
}

h2
{
	font-size: 164%;
}

h3
{
	font-size: 145%;
}

h4
{
	font-size: 118%;
}

/* Layout */


ul
{
	list-style: square;
}


table
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
   clear: both;
}

thead tr th
{
	text-align: left;
	white-space: nowrap;
}

th, td
{
	vertical-align: top;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
}

td
{
}

td a
{
	font-weight: bold;
}

td.first
{
	width: 50%;
}

td.last
{
	white-space: nowrap;
}

/* Colors */

/* Structure */

div#document
{
	margin: 0 auto;
	margin-bottom: 16px;
	width: 100%;
}

div#results_search
{
   text-transform: uppercase;
   letter-spacing: 0.3em;
   font-size: xx-small;
}

div#results_summary
{
   font-size: 16px;
   padding-top: 4px;
   padding-bottom: 4px;
}

div.summary_header, div.summary_footer
{
   text-align: left;
	padding-top: 8px;
	clear: left;
}

div.summary_header
{
	padding-top: 0px;
	padding-bottom: 8px;
}

div.summary_header span, div.summary_footer span
{
	display: inline;
	text-decoration: none;
	margin-right: 3px;
}

div#search_header form
{
   margin: 0;
   padding: 6px;
}

div#search_header
{
   text-align: left;
}

div#search_header div
{
}

div#search_header div span
{
   margin-left: 2px;
   margin-right: 2px;
}

div#search_header div span
{
   font-weight: bold;
   padding-left: 3px;
   padding-right: 3px;
}

div#search_header div a
{
   background: url(icons/x-red.gif) no-repeat;
   margin-right: 9px;
   height: 9px;
   vertical-align: middle;
}

div#breadcrumbs
{
   text-align: right;
   margin:0;
   padding: 0;
}

div#breadcrumbs ul
{
   margin: 8px;
   padding: 0;
   width: auto;
}

div#breadcrumbs ul li
{
   display: inline;
   margin: 0;
   padding-left: 16px;
   padding-right: 5px;
}

div#breadcrumbs li.first
{
   border-left: none;
   background: none;
   padding-left: 0;
}

div#breadcrumbs li.last
{
   border-left: none;
   background: none;
   padding-left: 0;
}

div#navigation ul
{
   margin: 0;
   text-align: left;
   padding: 8px;
}

div#navigation li
{
   margin: 0;
   padding: 8px;
   display: inline;
}

div#navigation li.first
{
   border-left: none;
   padding-left: 5px;
}

div#navigation li
{
	display: inline;
}

div#groups
{
   width: 100%;
}

div#groups div.group h5
{
   margin-top: 0;
}

div#groups div.group
{
   max-width: 200px;
   float: left;
   padding: 0;
   margin: 0;
   padding-right: 16px;
   margin-top: 16px;
}

div#groups div.group ul
{
   list-style:none;
   padding: 0;
   margin: 0;
   line-height: 1.3em;
}


div#groups div.group ul li
{
   padding: 0;
   margin: 0;
}

div#groups div.group ul li.hidden
{
   display: none;
}

div#footer
{
   text-align: left;
}

div#footer ul
{
   margin: 16px;
   margin-top: 8px;
   padding: 0;
   margin-bottom: 4px;
   width: auto;
}

div#footer li
{
   display: inline;
   margin: 0;
   padding-left: 6px;
   padding-right: 3px;
}

div#footer li.first
{
   border-left: none;
   padding-left: 0;
}

div#footer p
{
   margin-top: 0;
   padding-top: 0;
   padding-left: 16px;
}

div#header
{
   overflow: hidden;
   height: 105px;
}

div#topSearch
{
   padding-top: 0px;
   padding-right: 12px;
   text-align: right;
}

div#topSearch form a
{
   padding-top: 8px;
}

div#topSearch form input#submitbutton
{
   display: none;
}

div#topSearch form p a
{
   display: none;
}

div#content
{
   text-align: left;
   padding: 0 16px 16px 16px;
}

.clear
{
	width:100%;
	clear:right;
	height:0px;
}

/***********************/

.thumbnail
{
   margin: 5px;
}

form
{
   margin: 0;
   margin-top: 12px;
}

div#navigator_navigation *
{
   letter-spacing: 0.5em;
}

div#navigator_navigation
{
   padding-top: 8px;
}

td.datastream_options, td.datastream_options *
{
   text-align: center;
}

td.datastream_options
{
   width: 1%;
}

td.datastream_options a
{
   text-transform: none;
	width: 13px;
	margin: 0 auto;
   display: block;
}

td.datastream_options a span.download_link
{
   display: block;
	text-indent: -5000px;
	background: url(icons/diskette.gif) no-repeat;
	height: 13px;
	width: 13px;
}

div#image_display
{
   padding-top: 8px;
   padding-left: 137px;
   margin-top: 0;
}

img
{
   border: none;
}

table#metadata_table
{
   margin-top: 16px;
	border-collapse: separate;
}

table#metadata_table tbody tr td
{
   border: none;
}

table#metadata_table tbody tr td.emphasis
{
   font-size: 200%;
}

table#metadata_table tbody tr td.first
{
   text-align: right;
	width: 120px;
}

table#collection_table
{
   margin-top: 16px;
	border-collapse: separate;
}

table#collection_table tbody tr td
{
   border: none;
}
table#collection_table tbody tr td.first
{
   text-align: right;
	width: 120px;
}

div#content h1
{
	font-size: 1.5em;
	font-weight: 500;
	color: #cb131c;
	padding-top: 0px;
	font-family: arial, sans-serif;
	background-color: transparent;
}

div#content h2
{
	font-size: 1.2em;
	color: #000;
	padding-top: 0px;
	font-family: arial, sans-serif;
	background-color: transparent;
}

/* function List */

ul#function:before
{
   content: url(column_header.png);
   height: 14px;
   padding-left: 1px;
   padding-bottom: 3px;
   display: block;
}

ul#function
{
   background-position: 0 14px;
   min-height: 300px;
}

ul#function
{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
	float: left;
	border: none;
}

ul#function li
{
	margin: 0;
}

ul#function li a
{
	padding: 3px;
	padding-left: 6px;
	display: block;
	width: 100%;
	line-height: 18px;
}

html>body ul#function li a
{
	width: auto;
}

/**/

div#function_content
{
   padding-left: 166px;
   vertical-align: top;
   float: none;
}

div#content *
{
}

div#function_content *
{
}

ul#function_index
{
	list-style: none;
   margin: 0 10px 10px 0;
   padding: 0;
   width: auto;
}

ul#function_index a
{
   font-weight: bold;
}

ul#function_index li
{
   display: inline;
   margin: 0;
   padding-left: 4px;
   padding-right: 4px;
}

ul#function_index li.first
{
   border-left: none;
   background: none;
   padding-left: 0;
}

ul#function_index li.last
{
   border-left: none;
   background: none;
   padding-left: 0;
}


div.function_group li.function_link a
{
}

div.function_group ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

div.function_group ul li
{
	margin: 0;
	padding: 0;
}

div.function_group a.letter
{
	clear: both;
	display: inline-block;
	margin-top: 16px;
}

.function_link
{
   line-height: 1.4em;
	margin-left: 0;
}

.to_top
{
   display: block;
   margin-top: 11px;
   text-transform: uppercase;
   letter-spacing: 0.3em;
   clear: both;
}

div#base h3
{
   margin-top: 0;
}

div#base h1
{
   display: inline;
   text-transform: none;
   letter-spacing: 0;
}

/* custom */
.mainHeading
{
   display: inline;
   text-transform: none;
   letter-spacing: 0;
   font-size: 150%;
   font-weight: bold;
}

div#wotd
{
   width: 150px;
   float: right;
   margin-left: 16px;
}

div#main
{
   clear: both;
}

/* Advanced Search */

.row_container {
display: block;
position: relative;
}

.bool_dropdown {
position: relative;
display: inline;
}

.type_dropdown {
position: relative;
display: inline;
}

.text_search {
position: relative;
display: inline;
}

.remove_link {
   position: relative;
   display: inline;
}

fieldset div.input_block *
{
   display: inline;
}

fieldset div.input_block label.primary
{
   display: inline-block;
   width: 200px;
}

fieldset
{
}

fieldset legend
{
   margin: 0;
   padding: 0;
}

.small
{
   font-size: xx-small;
}

.clear
{
   clear:both;
}

div#details ul#function
{
   float: right;
}

div#collection_details
{
}

div#collection_function
{
	position:absolute;
	width:172px;
	right: 16px;
	line-height:17px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:150px;
}

div#collection_content
{
   margin-right: 166px;
   padding: 2px;
}


/* Colors */

body
{
	font: 12px arial, sans-serif;
}

body, input, select
{
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
}

select#collection *
{
   display: block;
}

a
{
   color: #039;
}

div#content
{
}

table#metadata_table tbody tr td
{
   background-color: #fff;
}

table#collection_table tbody tr td
{
   background-color: #fff;
}

thead tr th a
{
}

div#results_summary
{
}

div#navigation :link
{
   color: #fff;
}

div#navigation :visited
{
   color: #fff;
}

ul#function li a
{
   color: #fff;
   border: solid #fff 1px;
}

ul#function li a:hover
{
	background-color: #555;
}

ul#function li a.selected
{
	background-color: #009;
}

ul#function_index li.last
{
}

div.function_group a.letter
{
	font-size: 125%;
}

div#base h1
{
   font-size: 150%;
}

div#results_search
{
   color: #666;
}

hr
{
	background-color: #e0e0e0;
	height: 1px;
	border:0;
}

div.summary_header span a, div.summary_footer span a
{
}


div#search_header
{
   background-color: #ddd;
   background-image: url(background_header.png);
}

span.current_page
{
   font-weight: bold;
   margin-left: 4px;
}

span.disabled
{
   color: #999;
}

tr td, tr td a
{
   color: #000;
}

thead tr th
{
   background-color: #423cdb;
   border: solid #009 1px;
}

thead tr th, thead tr th a
{
   color: #fff;
	text-shadow: 2px 2px 1px #6c9554;
}

tbody tr td
{
	background-color: #eeeeee;
	border: solid #ddd 1px;
}

tbody tr.odd td
{
	background-color: #f2f2f2;
	border: solid #ddd 1px;
}

tbody tr td.sorted
{
	background-color: #dedede;
	border: solid #ccc 1px;
}

tbody tr.odd td.sorted
{
	background-color: #e2e2e2;
	border: solid #ccc 1px;
}

div#navigation
{
   background-image: url(fabulous_banner.png);
   background-repeat: repeat-x;
   background-position: 0px -142px;
   border-bottom: solid #2f2bc6 1px;
}

div#navigation li
{
   border-right: solid ##2f2bc6 1px;
   border-left: solid #4b3ee3 1px;
}

div#navigation li a span
{
   color: #fff;
}

div#groups div.group ul li
{
   color: #999;
	text-shadow: -2px -2px 1px #eee;
	text-transform: capitalize;
}


div#footer li
{
   border-left: solid #ccc 1px;
}

div#footer p
{
   color: #999;
}

div#footer * a
{
   color: #666;
   font-weight: bold;
}

div#header
{
   background-color: #000099;
   background-image: url(fabulous_banner.png);
   background-repeat: no-repeat;
   background-position: 0px 0px;
}

.thumbnail
{
   border: solid #ccc 5px;
}

fieldset
{
   border-color: #fff;
   border: none;
}

table#metadata_table
{
   background-color: #fff;
}

table#metadata_table tbody tr td.first
{
   color: #aaa;
}

table#metadata_table, table#collection_table
{
	 margin-top: 0px;
   background-color: #fff;
}

table#metadata_table tbody tr td.first, table#collection_table tbody tr td.first
{
   color: #aaa;
}

div#content p
{
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
}

ul#function li a
{
	background-color: #423cdb;
	border: solid #423cdb 1px;
	margin: 1px;
}

ul#function li a:hover
{
	background-color: #333;
	border: solid #444 1px;
}
	
ul#browse li a.selected
{
	border: solid #009 1px;
	background-color: #009;
}

ul#browse_index li
{
   border-left: solid #333 1px;
   color: #666;
}

ul#browse_index li a
{
	text-decoration: underline;
	font-size: 127%;
}

ul#browse_index, ul#browse_index a
{
   font-weight: bold;
}

div.browse_group ul li
{
	color: #666;
}

fieldset legend
{
   font-size: 110%;
   font-weight: bold;
   padding: 0;
}

fieldset
{
   margin-top: 16px;
   padding: 2px;
}

li.collection_item a
{
   font-weight: bold;
}

ul.collection_list li
{
   font-weight: normal;
   margin-left: 16px;
}

div#error_details h1
{
   letter-spacing: 0;
   color: #009;
   display: inline-block;
}

#imagefooter
{
    text-align: left;
}